<%= form_for @discussion do |f| %>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic %>
    <%= f.text_field :topic %>
  </div>
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment, :size => "40x10"%>
  </div>
  
  <div class="field">
    <%= f.label "Course Selection (choose one): " %>  
    <!-- output all course options for the user based on what they joined -->
    <%= f.select("course_id", options_from_collection_for_select(current_user.courses, "id", "name")) %>
    <!-- check if the user is not part of any courses. -->
    <%if current_user.courses.count == 0 %>    
      <p>Join a Course for Some Option to Appear in the Dropdown</p>
    <%end%>
  </div>

  <div class="actions">
    <%= f.submit "Submit Discussion"%>
  </div>
<% end %>


