<h1>Discussion Board for A Partcular Course</h1>


<h4>Post a new discussion to the x Group here:</h4>


<!-- <%- if user_signed_in? %>
  <%= form_for [Discussion.new] do |f| %>
  Content: <%= f.text_field :comment %>
    <%= f.submit %>
  <% end %>
<% end %>
-->

<%= render 'form' %>

<hr/>


<!-- listing out the available courses that you can start a discussion on -->

<!-- list of all discussions -->
<hr/>

<table>
  <tr>
    <th>Topic</th>
    <th>Comment</th>
    <th>Course</th>
    <th></th>
    <th></th>
  </tr>


<% @discussions.each do |discussion| %>
  <tr>
    <td><%= discussion.topic %></td>
    <td><%= discussion.comment %></td>
    <td><%= discussion.course.name%></td>
    <td><%= link_to 'Show', discussion %></td>
    <td><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
    <td><%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discussion', new_discussion_path %>
