<h1>Discussion Board</h1>


<h4>Post a new discussion here:</h4>


<%= render 'form' %>

<hr/>


<!-- listing out the available courses that you can start a discussion on -->

<!-- list of all discussions -->

<table cellpadding="8" width="100%">
  <tr>
    <th align = "left">Topic</th>
    <th align = "left">Comment</th>
    <th align = "left">Course</th>
    <th></th>
    <th></th>
  </tr>


<% @discussions.each do |discussion| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><%= discussion.topic %></td>
    <td><%= discussion.comment %></td>
    <td><%= discussion.course.name%></td>
    <td><%= link_to 'Show', discussion %></td>
    <td><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
    <td><%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discussion', new_discussion_path %>
