<h1 align = "center">Join a Course or Create a New One</h1>

<table align = "center" cellpadding="8" width="100%">
  <tr>
    <th align = "left">Name</th>
    <th align = "left">Location</th>
    <th align = "left">Instructor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
   <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><strong><%= course.name %><strong></td>
    <td><%= course.location %></td>
    <td><%= course.instructor %></td>
    <td><%= link_to 'See Course Details', course %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Course', new_course_path %>
<br />
